# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
.pyc
*.py[cod]
*$py.class

# Environments
.env
.venv
.env/
env/
venv/

# Datapack zips
.zip
*.zip

# Devops
_kotlin.txt
OdysseyDataPack.zip

# Editor
.vscode/
.vscode

# Zip
.zip 
exclude.txt
_block_atlas.txt

# Packs
odyssey-resource-pack-test.zip
odyssey-resource-pack.zip
OdysseyResourcePack-1.21.6.zip